*.log
*/files/temp_*
.DS_Store
.mypy_cache
.pytest_cache
.ruff_cache
.turbo
.venv
.yarn/*
node_modules
sql/data
target
volumes
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
